/* General Styles */
.st0{fill:#E4F4F4;}
.st1{fill:none;stroke:#464646;stroke-width:80;stroke-miterlimit:10;}
.st2{fill:none;stroke:#777777;stroke-width:80;stroke-miterlimit:10;}
.st3{fill:none;stroke:#666666;stroke-width:80;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;}
.st6{font-size:16px;}
.st7{fill:#777777;}
.st8{fill:#464646;}
.st9{fill:#666666;}
.st10{fill:none;stroke:#A4CACF;stroke-width:80;stroke-miterlimit:10;}
.st11{fill:none;stroke:#B8E2E8;stroke-width:80;stroke-miterlimit:10;}
.st12{fill:none;stroke:#ACD3D9;stroke-width:80;stroke-miterlimit:10;}
.st13{fill:none;stroke:#FC6269;stroke-width:80;stroke-miterlimit:10;}
.st16{fill:none;stroke:#1B7A88;stroke-width:80;stroke-miterlimit:10;}
.st17{fill:none;stroke:#55ADBA;stroke-width:80;stroke-miterlimit:10;}
.st18{fill:none;stroke:#4995A0;stroke-width:80;stroke-miterlimit:10;}
.st19{fill:#55ADBA;}
.st20{fill:#1B7A88;}
.st21{fill:#4995A0;}
.st22{fill:none;stroke:#353535;stroke-width:1;stroke-miterlimit:10;}
.st23{font-size:8px;}
.st24{fill:none;stroke:#A4CACF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st25{fill:none;stroke:#464646;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st26{fill:none;stroke:#464646;stroke-width:2;stroke-miterlimit:10;}
.st27{fill:none;stroke:#1B7A88;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st28{fill:none;stroke:#1B7A88;stroke-width:2;stroke-miterlimit:10;}
.st29{fill:none;stroke:#353535;stroke-width:2;stroke-miterlimit:10;}
.st30{fill:#353535;}
.st31{fill:#FC6269;}
.st32{fill:#FEC0C3;}
.st33{font-size:13px;}
.st34{font-size:20.5px;}
.st35{font-size:40px;}
.st36{fill:none;stroke:#777777;stroke-width:3;stroke-miterlimit:10;}
.st37{fill:none;stroke:#55ADBA;stroke-width:3;stroke-miterlimit:10;}
.st38{fill:none;stroke:#777777;stroke-width:4;stroke-miterlimit:10;}
.st39{fill:none;stroke:#777777;stroke-miterlimit:10;}
.st40{fill:none;stroke:#55ADBA;stroke-width:4;stroke-miterlimit:10;}
.st41{fill:none;stroke:#55ADBA;stroke-miterlimit:10;}
.st42{opacity:0.5;fill:#FFFFFF;}
.st43{fill:none;stroke:url(#SVGID_1);stroke-width:2;stroke-miterlimit:10;}
.st44{fill:none;stroke:#666666;stroke-width:3;stroke-miterlimit:10;}
.st45{fill:none;stroke:#4995A0;stroke-width:3;stroke-miterlimit:10;}
.st46{fill:none;stroke:#4995A0;stroke-width:4;stroke-miterlimit:10;}
.st47{fill:none;stroke:#4995A0;stroke-miterlimit:10;}
.st48{fill:none;stroke:url(#SVGID_2);stroke-width:2;stroke-miterlimit:10;}
.st49{fill:none;stroke:#666666;stroke-width:4;stroke-miterlimit:10;}
.st50{fill:none;stroke:#666666;stroke-miterlimit:10;}

/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,900);

body {
	background-color: #EFEFEF;
	background: linear-gradient(#EDEDED, #E4F4F4);
	/*font-family: 'Lato', Calibri, Arial, sans-serif;*/
	font-family: 'Roboto', sans-serif; 
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
}
body .font-norm {
	font-weight: normal;
}
.awesome {
	font-family: 'FontAwesome';
	font-size: 40px;
	fill: #464646;
}
#graph-ref {
	display: none;
}
#pointer.unload {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}
/* the chaeckbox styles: */
[id^=radio-btn-] {
	cursor: pointer;
}
[id^=radio-btn-].checked {
	cursor: auto;
}
[id^=radio-btn-] .round {
	fill: #D8D8D8;
	stroke: #464646;
	stroke-width: 5;
	stroke-miterlimit: 10;
	transition: fill .5s ease;
}
[id^=radio-btn-]:hover .round {
	fill: #EFEFEF;
	transition: fill .5s ease;
}
[id^=radio-btn-].checked:hover .round {
	fill: #D8D8D8;
}
[id^=radio-btn-] .spot {
	fill: #464646;
	opacity: 0;
}
[id^=radio-btn-].checked .spot {
	opacity: 1;
}

/* 2016 graph colors when box unchecked */
#graph-2016 line:first-child {
	stroke: #A4CACF;
	transition: stroke .5s ease;
}
#graph-2016 line:nth-child(2), 
#graph-2016 line:nth-child(4) {
	stroke: #B8E2E8;
	transition: stroke .5s ease;
}
#graph-2016 line:nth-child(3), 
#graph-2016 line:nth-child(5) {
	stroke: #ACD3D9;
	transition: stroke .5s ease;
}
/* 2016 graph colors when box checked */
#graph-2016.uba line:first-child {
	stroke: #464646;
	transition: stroke .5s ease;
}
#graph-2016.uba line:nth-child(2), 
#graph-2016.uba line:nth-child(4) {
	stroke: #777777;
	transition: stroke .5s ease;
}
#graph-2016.uba line:nth-child(3), 
#graph-2016.uba line:nth-child(5) {
	stroke: #666666;
	transition: stroke .5s ease;
}

/* Special Icons 2016 */
#icons2016 {
	visibility: hidden;
}
#radio-btn-16.checked ~ #icons2016 {
	visibility: visible;
}

/* Special 2017, 2018, 2019 exceeds */
.exceed {
	visibility: hidden;	
}
#radio-btn-16.checked ~ #graph-2017 .exceed,
#radio-btn-16.checked ~ #graph-2018 .exceed,
#radio-btn-16.checked ~ #graph-2019 .exceed {
	visibility: visible;	
}

/* Colors on the icons */
#icon-energy .icon .figure,
.info-energy .icon .figure {
	fill: #f1c40f;
}
#icon-transport .icon .figure,
.info-transport .icon .figure {
	fill: #d35400;
}
#icon-building .icon .figure,
.info-building .icon .figure {
	fill: #3498db;
}
#icon-farming .icon .figure,
.info-farming .icon .figure {
	fill: #2ecc71;
}
/* Icons numbers when hovered */
[class^=info-] .nbr {
	opacity: 0;
	transform: translate(0, 30px);
	transition: all .5s ease-in;
}
[class^=info-].check .nbr {
	opacity: 1;
	transform: translate(0, -2.5px);
	transition: all .5s ease;
}
[class^=info-] .icon > circle {
	fill: #E2E2E2;
	transition: fill .5s ease;
}
[class^=info-].check .icon > circle {
	fill: #FFF;
	transition: fill .5s ease;
}
#txt-co2-2016, #icons2016 {
	opacity: 0;
	transition: all .25s ease;
}
#radio-btn-16.checked ~ #txt-co2-2016 {
	opacity: 1;
	transition: all .5s .5s ease;
}
#radio-btn-16.checked ~ #icons2016 {
	opacity: 1;
	transition: all .5s .5s ease;
}
#line-top-2014, #line-top-2015,
#graph-still-2014, #graph-still-2015 {
	opacity: 1;
	transition: all 1s ease;
}
#radio-btn-16.checked ~ #line-top-2014,
#radio-btn-16.checked ~ #line-top-2015,
#radio-btn-16.checked ~ #graph-still-2014,
#radio-btn-16.checked ~ #graph-still-2015 {
	opacity: 0;
	transition: all 1s ease;
}
#txt-eco {
	transition: all .5s ease;
}
#radio-btn-16.checked ~ #txt-eco {
	transform: translate(159px, 0);
	transition: all .75s ease;
}
#line-top-2016 {
	stroke: #A4CACF;
	transition: stroke .5s ease;
}
#radio-btn-16.checked ~ #line-top-2016 {
	stroke: #464646;
	transition: stroke .5s ease;
}
#txt > text:nth-child(4) {
	fill: #4995A0;
	transition: fill .5s ease;
}
#radio-btn-16.checked ~ #txt > text:nth-child(4) {
	fill: #464646;
	transition: fill .5s ease;
}
/* Mio Tonnen CO2 animation */
#span-nbr-1 {
	opacity: 1;
	transition: opacity .5s ease;
}
#span-nbr-roll {
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
}
#radio-btn-16.checked ~ #txt-eco #span-nbr-1 {
	opacity: 0;
	transition: opacity 0s 1.25s ease;
}
#radio-btn-16.checked ~ #txt-eco #span-nbr-roll {
	visibility: visible;
	opacity: 1;
	transition: opacity 0s 1.25s ease;
}

/* info Pop icon */
#info-line {
	visibility: hidden;
	opacity: 0;
	transform: translate(0, -10px);
	transition: all .5s ease;
}
#pop-info:hover ~ #info-line {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}

/* infos Between */
[id^=btw-] {
	visibility: hidden; /* <-  hidden */
}
#radio-btn-16.checked ~ [id^=btw-] {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}
#radio-btn-16.checked ~ [id^=btw-].check {
	visibility: visible;
	opacity: 1;
	transition: all .5s ease;
}
