/* General Styles */
.st0{fill:#555555;}
.st1{fill:#777777;}
.st2{opacity:0.8;}
.st3{opacity:0.66;}
.st4{fill:url(#SVGID_1_);}
.st5{fill:url(#SVGID_2_);}
.st6{fill:#999999;}
.st7{fill:#B3B3B3;}
.st8{fill:#808080;}
.st9{fill:url(#SVGID_3_);}
.st10{fill:url(#SVGID_4_);}
.st11{fill:url(#SVGID_5_);}
.st12{fill:url(#SVGID_6_);}
.st13{fill:url(#SVGID_7_);}
.st14{fill:url(#SVGID_8_);}
.st15{fill:url(#SVGID_9_);}
.st16{fill:url(#SVGID_10_);}
.st17{fill:url(#SVGID_11_);}
.st18{fill:url(#SVGID_12_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st19{fill:url(#SVGID_13_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st20{fill:url(#SVGID_14_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st21{fill:url(#SVGID_15_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st22{fill:url(#SVGID_16_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st23{fill:url(#SVGID_17_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st24{fill:url(#SVGID_18_);stroke:#555555;stroke-width:2;stroke-miterlimit:10;}
.st25{opacity:0.5;fill:none;stroke:url(#SVGID_19_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st26{opacity:0.5;fill:none;stroke:url(#SVGID_20_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st27{opacity:0.5;fill:none;stroke:url(#SVGID_21_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st28{opacity:0.5;fill:none;stroke:url(#SVGID_22_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st29{opacity:0.5;fill:none;stroke:url(#SVGID_23_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st30{opacity:0.5;fill:none;stroke:url(#SVGID_24_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st31{opacity:0.5;fill:none;stroke:url(#SVGID_25_);stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
.st32{fill:none;stroke:#BBBBBB;stroke-width:2;stroke-miterlimit:10;}
.st33{fill:#BBBBBB;}
.st34{fill:url(#heat-grad_1_);}
.st35{fill:#FFFFFF;}

.st39{font-size:20px;}
.st40{font-size:40px;}
.st41{opacity:0.75;fill:#FFFFFF;stroke:#353535;stroke-width:0.25;stroke-miterlimit:10;}
.st42{fill:#353535;}
.st43{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:6.0521,6.0521;}
.st44{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st45{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st46{fill:none;stroke:#7AB440;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st47{fill:#7AB440;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st48{opacity:0.25;}
.st49{fill:#7AB440;}
.st50{fill:none;stroke:#FC6269;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st51{fill:#FC6269;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st52{fill:#FC6269;}

.st54{font-size:16px;}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,900);

body {
	background:#555555;
	/*font-family: 'Lato', Calibri, Arial, sans-serif;*/
	font-family: 'Roboto', sans-serif; 
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
	fill: white;
}
body .font-reg {
	font-weight: normal;
}
#credits a {
	fill: #BBBBBB;
	transition: fill .5s ease;
}
#credits a:hover {
	fill: #FFFFFF;
	transition: fill .5s ease;
}
/* Interactive nbrs above spots */
.nbr {
	visibility: hidden;
	opacity: 0;
	transition: all .33s ease-in-out;
}
.spot:hover + .nbr {
	visibility: visible;
	opacity: 1;
	transform: translate(0, -12px);
}

/* Interactive balls */
[id$=-ball] {
	transform: scale(0.75, 0.75);
	transition: transform 0.75s ease-in-out .5s;
}
#oil-ball {
	transform-origin: 816px 419.4px;
}
#eco-ball {
	transform-origin: 816px 717.2px;
}
[id$=-wrap]:hover [id$=-ball] {
	transform: scale(1, 1);
	transition: all .5s ease-in-out 0s;
}
[id$=-wrap] [id$=-ball] .shadow {
	fill: black;
	opacity:0;
	transition: opacity 0.75s ease-in-out .5s;
}
[id$=-wrap]:hover [id$=-ball] .shadow {
	opacity:0.66;
	transition: opacity .5s ease-in-out 0s;
}

/* Interactive title in ball */
[id$=-title] {
	transform: scale(.95) translate(0px, -25px);
	transition: transform 0.75s ease-in-out .5s;
}
#oil-title {
	transform-origin: 500px 281.4px;
}
#eco-title {
	transform-origin: 500px 717.2px;
}
[id$=-wrap]:hover [id$=title] {
	transform: scale(1) translate(0px, 0px);
	transition: all .5s ease-in-out 0s;
}

/* Interactive icon in ball */
[id$=-icon] {
	opacity: 0;
	transform: scale(0);
	transition: all 0.75s ease-in-out .5s;
}
#oil-icon {
	transform-origin: 876px 419.4px;
}
#eco-icon {
	transform-origin: 876px 717.2px;
}
[id$=-wrap]:hover [id$=icon] {
	opacity: 1;
	transform: scale(1);
	transition: all .5s ease-in-out 0s;
}

