/* General Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,900);

body {
/*	background: linear-gradient(#999999, #FEC0C3); */
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif; 
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}
body .font-reg {
	font-weight: normal;
}
#credits a {
	fill: #1B7A88;
}
#credits a:hover {
	fill: #A4CACF;
}
#stock {
	opacity: .66;
}
#stock:hover {
	opacity: 1;
}

/*  */