/* General Styles */
.st0{fill:#BFDDDC;}
.st1{fill:url(#SVGID_1_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st2{fill:#A4CACF;}
.st3{font-size:12px;}
.st4{fill:url(#SVGID_2_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st5{font-size:16px;}
.st6{fill:url(#SVGID_3_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st7{fill:url(#SVGID_4_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st8{fill:url(#SVGID_5_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st9{fill:url(#SVGID_6_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st10{fill:url(#SVGID_7_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st11{fill:url(#SVGID_8_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st12{fill:url(#SVGID_9_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st13{fill:url(#SVGID_10_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st14{fill:url(#SVGID_11_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st15{fill:url(#SVGID_12_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st16{fill:url(#_x3C_Tracé_x3E__3_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st17{fill:url(#_x3C_Tracé_x3E__4_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st18{fill:url(#SVGID_13_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st19{fill:url(#_x3C_Tracé_x3E__5_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st20{fill:url(#SVGID_14_);stroke:#A4CACF;stroke-width:1.5;stroke-miterlimit:10;}
.st21{fill:#6C351C;}
.st22{fill:#D8D8D8;}
.st23{font-family:'FontAwesome';}

.st25{font-size:16.2px;}
.st26{fill:none;stroke:#6C351C;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
.st27{opacity:0.5;fill:none;stroke:url(#grid-bg_1_);stroke-width:64;stroke-miterlimit:10;}
.st28{fill:none;stroke:#FFFFFF;stroke-width:0.66;stroke-miterlimit:10;}
.st29{fill:none;stroke:#FFFFFF;stroke-width:0.33;stroke-miterlimit:10;}
.st30{fill:none;stroke:#9D664D;stroke-width:14;stroke-miterlimit:10;}
.st31{fill:#9D664D;}
.st32{fill:none;stroke:#7D462D;stroke-width:14;stroke-miterlimit:10;}
.st33{fill:#7D462D;}
.st34{fill:none;stroke:#6C351C;stroke-width:14;stroke-miterlimit:10;}
.st35{fill:none;stroke:#6C351C;stroke-width:4;stroke-miterlimit:10;}

.st42{fill:#353535;}
.st43{fill:none;stroke:#353535;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}

.st45{fill:none;stroke:#666666;stroke-width:14;stroke-miterlimit:10;}
.st46{fill:#666666;}
.st47{fill:none;stroke:#464646;stroke-width:14;stroke-miterlimit:10;}
.st48{fill:#464646;}
.st49{fill:none;stroke:#353535;stroke-width:14;stroke-miterlimit:10;}
.st50{fill:none;stroke:#353535;stroke-width:4;stroke-miterlimit:10;}

.st53{fill:#F2F2F2;}
.st54{fill:none;stroke:#464646;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st55{fill:none;stroke:#353535;stroke-miterlimit:10;}
.st56{letter-spacing:-2;}
.st57{fill:none;stroke:#9D664D;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st58{fill:none;stroke:#7D462D;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st59{fill:none;stroke:#6C351C;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st60{fill:#FD8187;}
.st61{fill:#FFFFFF;}
.st62{opacity:0.75;fill:#FFFFFF;}
.st63{font-size:40px;}
.st64{font-size:25px;}
.st65{font-size:30px;}
.st66{fill:none;stroke:#353535;stroke-width:0.5;stroke-miterlimit:10;}
.st67{font-size:10px;}
.st68{fill:none;stroke:#353535;stroke-width:2;stroke-miterlimit:10;}
.st69{fill:#1B7A88;}
.st70{fill:none;stroke:#F2F2F2;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
.st71{fill:#4995A0;}
.st72{display:none;}
.st73{display:inline;}

.st75{font-size:24px;}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,900);

body {
	background:#BFDDDC;
	font-family: 'Roboto', sans-serif; 
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}
body .font-reg {
	font-weight: normal;
}
#credits a {
	fill: #4995A0;
}
#credits a:hover {
	fill: #1B7A88;
}

/* Kraftwerk styles */
[id^=kraftwerk] .factory-path {
	fill: #6C351C;
	stroke: #BFDDDC;
	stroke-width: .5;
	transition: stroke-width .5s ease;
}
#kraftwerk8 .factory-path {
	fill: #353535;
}
[id^=kraftwerk]:hover .factory-path, [id^=kraftwerk].selected .factory-path {
	stroke-width: .33;
	transition: stroke-width .5s ease;
}
/* Kraftwerk animations */
[id^=kraftwerk] {
	cursor: pointer;
}
[id^=kraftwerk] .power {
	opacity: 0;
	transition: opacity .5s ease;
}
[id^=kraftwerk]:hover > .power {
	opacity: 1;
	transition: opacity .5s ease;
}
[id^=kraftwerk].selected > .power {
	opacity: 1;
}

/* Kraftwerk names */
[id^=select] > [class^=factory-name] {
	visibility: hidden;
	opacity: 0;
	transition: all .5s .5s ease;
}
[id^=select] > .factory-name-top {
	transform: translate(0, 3px);
	transition: all .5s ease;
}
[id^=select] > .factory-name-bottom {
	transform: translate(0, -3px);
	transition: all .5s ease;
}
[id^=select] > .factory-name-right {
	transform: translate(-3px, 0);
	transition: all .5s ease;
}
[id^=select] > [id^=kraftwerk]:hover + [class^=factory-name] {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}
[id^=select] > [id^=kraftwerk].selected + [class^=factory-name] {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}


/* Line factories to Ghraphs 
.line-a {
	fill:none;
	stroke: #6C351C;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
}
#select8 .line-a {
	stroke:#353535;
}*/

[id^=kraftwerk] ~ .line-b line {
	visibility: hidden;
	opacity: 0;
	stroke-dasharray: 32;
	stroke-dashoffset: 32;
}
[id^=kraftwerk].selected ~ .line-b line {
	visibility: visible;
	opacity: 1;
	animation: lineB .15s .25s ease forwards;
}
@keyframes lineB {
	to { stroke-dashoffset: 0; }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {  /* This for IE */
[id^=kraftwerk].selected ~ .line-b line {
		stroke-dashoffset: 0;
		transition: all .5s ease;
	}
}
/* years graphs colors & more */
[id^=kraftwerk] ~ .graphs .year-bg {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}
[id^=kraftwerk].selected ~ .graphs .year-bg {
	visibility: visible;
	opacity: 1;
	transition: all .5s ease;
}

/* grid behind the years graphs */
.grid-a{ 
	stroke-width: 1;
	stroke-dasharray: 6;
}
.grid-b{ 
	stroke-width:.5;
	stroke-dasharray: 6;
}

/* appearing years above graphs */
.graphs .nbr {
	text-shadow: 1px 1px #BFDDDC;
	visibility: hidden;
	opacity: 0;
	transform: translate(0, 5px);
	transition: all .5s ease;
}
 .graphs [class^=year-]:hover + .nbr {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}

/* infotext apearence */
[id^=infotext-] {
	visibility: hidden;
	opacity: 0;
	transform: translate(-30px, 0);
	transition: all .5s ease;
}
[id^=infotext-].show {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}

/* table apearence */
#table {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}
#table #count {
	transform: translate(0, 10px);
	transition: all .5s ease;
}
#table.show {
	visibility: visible;
	opacity: 1;
	transition: all .5s ease;
}
#table.show #count {
	transform: translate(0, 0);
	transition: all .5s ease;
}

/* Reset styles */
#reset {
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transform: translate(-30px, 0);
	transition: all .5s ease;
}
#reset.show {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	transition: all .5s ease;
}